<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8"></meta>
       <title>在商店內選購物品</title>
    </head>
    <body>
     <h1>店家基本資訊</h1>
     <p>店名: {{store_branch_name}}</p>
     <p>電話: {{store_phone_number}}</p>
     <p>營業時間: {{store_business_hours}}</p>
     <p>地址: {{store_address}}</p>
     
     <style>
      .button-container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
      }
      
      .button-container button {
          margin-right: 5px;
      }
  </style>
  <div class="button-container">
     <form action="/addToFavorites" method="post">
        <button id="addToFavoritesBtn">加入常用店家</button>
      </form>

      <form action="/removeFromFavorites" method="post">
        <button id="removeFromFavoritesBtn">刪除常用店家</button>
      </form>
      
      <form action="/reviews" method="get">
        <button id="reviewsBtn">查看店家評論</button>
      </form>
     
     <form action="/shoppingCart" method="get">
      <button id="shoppingCartBtn">查看購物車</button>
     </form>

     <form action="/shoppingstore" method="get">
      <button id="shoppingstoreBtn">回到選購特定店家</button>
     </form>   
   </div>  
     <hr/>
     <form method="POST" action="/order">
      {% if leftover_products %}
        {% for leftover_product in leftover_products %}
          <div>
          <input type="checkbox" name="leftover_product" value="{{ leftover_product.product_code }}">
            <label>{{ leftover_product.branch_name }},&nbsp;&nbsp;</label>
            <label>{{leftover_product.product_code}},&nbsp;&nbsp;</label>
            <label>{{leftover_product.expiration_date}},&nbsp;&nbsp;</label>
            <label>{{leftover_product.product_name}},&nbsp;&nbsp;</label>
            <label>{{leftover_product.quantity_in_stock}},&nbsp;&nbsp;</label>
            <label>{{leftover_product.price}},&nbsp;&nbsp;</label>
            <label>{{leftover_product.product_description}}</label>
          </div>
        {% endfor %}
      {% else %}
         {{message}}
      {% endif %}   
      <br/>
      <button id="orderBtn">加入訂單</button>
    </form>
    </body>
</html>