<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8"></meta>
       <title>在商店內選購物品</title>
    </head>
    <body>
     <h1>店家基本資訊</h1>
     <p>店名: {{store.branch_name}}</p>
     <p>電話: {{store.phone_num}}</p>
     <p>營業時間: {{store.business_hours}}</p>
     <p>地址: {{store.address}}</p>
     
     {% set phone_number = buyer.phone_number %}
     <br/>
     {% set branch_name = store.branch_name %}
     <br/>
     <form action="/purchase/addToFavorites" method="post">
        <button id="addToFavoritesBtn">加入常用店家</button>
      </form>
      <br/>
      <form action="/purchase/removeFromFavorites",method="post">
        <button id="removeFromFavoritesBtn">刪除常用店家</button>
     </form>
     <hr/>

     <input type ="button" onclick="javascript:location.href='shoppingCart.html'" value="查看購物車"></input>
     <input type ="button" onclick="javascript:location.href='reviews.html'" value="查看店家評論"></input>
     <input type ="button" onclick="javascript:location.href='shoppingstore.html'" value="回到選購特定店家"></input>
     <hr/>

     <input type="checkbox">('Zhongxiao Store', '53928', '2023-06-08', 'Chocolate Bread', '3', '18', 'The bread contains rich chocolate
        sauce, the skin is crispy and melts in your mouth ')<br>
     <input type="checkbox">('Zhongxiao Store', '75326', '2023-06-07', 'French bread', '6', '22', 'French classic, crispy on the outside and
        soft on the inside, full of aroma, charming taste ')<br>
     <input type="checkbox">('Zhongxiao Store', '94218', '2023-06-11', 'Red bean bread', '8', '13', 'Red bean stuffing wrapped in soft
        bread, bringing a sweet taste')<br>
     <input type="checkbox">('Zhongxiao Store', '21984', '2023-06-09', 'Grape Bread', '5', '17', 'The bread contains raisins for natural
        sweetness and chewiness' )<br>
     <input type="checkbox">('Zhongxiao Store', '49872', '2023-06-13', 'Cream Bread', '9', '16', 'The surface of the bread is sprinkled with
        butter grains, bringing a rich milky aroma and crispy taste taste')<br>
     <input type="checkbox">('Zhongxiao Store', '62359', '2023-06-15', 'Cranberry Bread', '2', '19', 'The combination of sweet and sour
        dried cranberry fruit and bread , rich taste')<br>
     <input type="checkbox">('Zhongxiao Store', '37192', '2023-06-14', 'Soufflé Bread', '7', '15', 'The bread is crispy on the outside, filled
        with sweet soufflé filling, fragrant' )<br>
     <input type="checkbox">('Zhongxiao Store', '78541', '2023-06-10', 'Matcha Bread', '4', '21', 'Matcha-flavored bread that melts in
        your mouth, bringing a unique Japanese flavor ')<br>
     <input type="checkbox">('Zhongxiao Store', '28649', '2023-06-16', 'Pineapple Bread', '1', '14', 'After baking, the surface is golden
        yellow, with a concave and convex crispy skin like pineapple' )<br>

     <button id="addToShopingCart">加入訂單</button> 
    </body>
</html>