<!DOCTYPE html>
<html>
<head>
  <title>購物車</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
  </style>
</head>
<body>

<h2>購物車</h2>

<table>
  <tr>
    <th>商店名稱</th>
    <th>產品代號</th>
    <th>品名</th>
    <th>單價</th>
    <th>購買數量</th>
  </tr>
  <tr>
    <td>商店A</td>
    <td>A001</td>
    <td>產品A</td>
    <td>$10</td>
    <td>2</td>
  </tr>
  <tr>
    <td>商店B</td>
    <td>B002</td>
    <td>產品B</td>
    <td>$20</td>
    <td>1</td>
  </tr>
  <tr>
    <td>商店C</td>
    <td>C003</td>
    <td>產品C</td>
    <td>$15</td>
    <td>3</td>
  </tr>
</table>

<div class="submit-button">
    <button>確認送出訂單</button>
</div>

</body>
</html>
